*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
body{
    width: 100%;
    background-color: #f0f2f5;
    overflow-x: hidden;
}
form{
    position: absolute;
    background-color: #fff;
    width: 370px;
    height: 310px;
    padding: 15px;
    margin: -10vh 850px;
    border-radius: 7px;
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    left: -110px;
    top: 190px;

}
.input-box{
    background-color: #fff;
    border: 1px solid rgba(200, 200, 200, 0.625);
    width: 100%;
    padding: 13px 0;
    border-radius: 7px;
    margin-bottom: 10px;

}

input[type="text"], input[type="password"]{
    border: none;
    margin: 0px 10px;
    width: 90%;
    font-size: 17px;
}

#buttonLogin, .register{

    border: none;
    background-color: #1877f2;
    color: white;
    width: 100%;
    border-radius: 7px;
    padding: 12px 0;
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
.f-pws{
    width: 100%;
    color: #1877f2;
    text-align: center;
    font-size: 14px;
    margin: 15px 0;
}
hr{
    color: rgba(216, 210, 210, 0.258);
    margin-top: 10px;
    margin-bottom: 30px;
}
.register{
    position: relative;
    background-color: #43b728;
    width: fit-content;
    padding: 12px 15px ;
    left: 50%;
    transform: translateX(-50%);
}
.sub-link h3 {
    width: 380px;
    position: relative;
    color: black;
    /* font-family: "Segoe UI", Arial; */
    padding: 170px 747px;
    font-size: 12px;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    z-index: -1;
}
.sub-link h3 a{
    color: black;
    font-weight: bold;
    font-size: 13px;    
    
}
.f-container{
    width: 510px;
    margin-left: 140px;
    margin-top: 200px;
    font-family: "Segoe UI", Roboto, "San Francisco";
}
.f-container img{
    width: 320px;
    margin: -28px;
}
.f-container p{
    margin-top: 10px;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;
}
